/*悬浮链接*/

.suspension {
    position: fixed;
    z-index: 55;
    right: 0;
    bottom: 85px;
    width: 70px;
    height: 240px;
}

.suspension-box {
    position: relative;
    float: right;
}

.suspension .a {
    display: block;
    width: 44px;
    height: 44px;
    background-color: #353535;
    margin-bottom: 4px;
    cursor: pointer;
    outline: none;
}

.suspension .a .i {
    float: left;
    width: 44px;
    height: 44px;
    background-image: url(../img/side_icon.png);
    background-repeat: no-repeat;
}

.suspension .a-service-phone .i {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 12px;
    background-image: url(../img/suspension-bg.png);
    background-repeat: no-repeat;
    background-position: -27px 0;
}

.suspension .a-qrcode .i {
    background-position: -44px 0;
}

.suspension .a-top {
    background: #D2D3D6;
    display: none;
}

.suspension .d {
    display: none;
    width: 223px;
    background: #fff;
    position: absolute;
    right: 67px;
    min-height: 90px;
    border: 1px solid #E0E1E5;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(161, 163, 175, 0.11);
}

.suspension .d-service-phone {
    top: 34px;
}

.suspension .d-qrcode {
    top: 78px;
}

.suspension .d-qrcode {
    text-align: center;
}